node_modules
.next
.pnpm-store
dist
.vercel
.env
.output
.env.local
.pnpm-debug.log
TODO
.env*.local
fonts/*
!fonts/init.mjs
# Ensure we don't commit npm lockfiles
package-lock.json
yarn.lock
AGENTS.md