@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    color-scheme: light;
    @apply bg-[#fcfcfc];
  }

  @media (prefers-color-scheme: dark) {
    :root {
      color-scheme: dark;
      @apply bg-[#1C1C1C];
    }
  }

  /* Disable ligatures globally */
  * {
    font-feature-settings: "liga" 0;
  }
}

/* Add generous padding and rounding inside all Shiki code blocks */
pre.shiki {
  padding: 1rem 1rem;
  border-radius: 0.75rem;
  margin: 0;
  font-family: "Geist Mono", monospace;
}
